@charset "utf-8";
/* CSS Document */
.MailLeft ul, .MailLeft li
{
	list-style:none;
}
a
{
	text-decoration:none;
}
.GlobalContainer
{
	background:#999999;
	background-repeat:repeat-y;
	background-position:left;
	width:100%;
	margin:0 auto;
/*	margin-top:3px;*/
}
.MailLeft
{
	float:left;
	width:25%;
	font-size:14px;
}

.MailLeft ul{
	padding:0;
	margin:0;
}

.MailLeft li a, .MailLeft label
{
	color:#000;
	line-height:30px;
	display:block;
	padding:0 10px 0 30px;
}
.MailLeft li a.selected, .MailLeft li a:hover
{
	/*background-color:#a2a2a2;*/
	color:#000;
	font-weight:bold;
}
.MailRight{
	float:left;
	width:75%;
	background-color:#FFF;
	min-height:700px;
}
.MailRightHeader
{
	clear:both;
	height:40px;
}
.MailRightHeader ul
{
	list-style:none;
	margin-left:8px;
	margin-top:10px;
}
.MailRightHeader li
{
	float:left;
	margin-right:10px
}
.MailRightHeader li img
{
	border:0;
}
.clearfix:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.MailRightRead, .MailRightUnRead
{
	clear:both;
	width:800px;
	height:40px;
	border-bottom:1px solid #d7d6d6;
	background-color:#f2f2f4;
	font-size:14px;
}
.MailRightUnRead
{
	background:#FFF;
	font-weight:bold;
}
.MailRightRead td, .MailRightUnRead td
{
	float:left;
}
.MailRightRead td a, .MailRightUnRead td a
{
	color:#666666;
	display:block;
	line-height:40px;
}

.MailRightRead td , .MailRightUnRead td
{
	color:#666666;
	display:block;
	line-height:40px;
}
.MailRightRead td.Checkbox, .MailRightUnRead td.Checkbox
{
	width:26px;
	padding-left:13px;
	padding-top:15px;
}
.MailRightRead td.From, .MailRightUnRead td.From
{
	width:180px;
}
.MailRightRead td.Subject, .MailRightUnRead td.Subject
{
	width:540px;
}
.Compose
{
	clear:both;
}
.Compose li 
{
	margin-left:10px;
	line-height:30px;
	margin-top:5px;
	margin-bottom:8px;
	/*clear:both !important;*/
}
.Compose input
{
	display: inline-block;
    color: #333333 !important;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
    background: linear-gradient(to bottom, #f3f4f8 0%,#c0c0c0 100%);
    float: left;
    padding: 8px 20px;
}
.Compose textarea
{
	width:502px;
	resize:none;
	height:300px;
	outline:none;
}
.Compose select
{
	width:200px;
	height:26px;
	padding-top:3px;
}
.Compose label
{
	float:left;
/*	width:90px;*/
}
textarea {
	height:174px;
}

button {
	background: #f2f2f2; /* Old browsers */
	background: -moz-linear-gradient(top, #f2f2f2 0%, #e8e8e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%,#e8e8e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f2f2f2 0%,#e8e8e8 100%); /* IE10+ */
	background: linear-gradient(top, #f2f2f2 0%,#e8e8e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
	/* Generated on http://www.colorzilla.com/gradient-editor/ */
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1); 
	border-color: #eeeced #eeeced #9b9b9b;
    border-style: solid;
    border-width: 1px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding:5px 30px;
	font-weight:bold;
	text-shadow:0px 1px 0px #fff;
	cursor:pointer;
}

button:hover {
	background:#f5f5f5;
}

button:focus, 
button:active {
	background:#e8e8e8;
}

button.action {
	background: #fa765f; /* Old browsers */
	background: -moz-linear-gradient(top, #fa765f 0%, #e15d46 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa765f), color-stop(100%,#e15d46)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fa765f 0%,#e15d46 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fa765f 0%,#e15d46 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fa765f 0%,#e15d46 100%); /* IE10+ */
	background: linear-gradient(top, #fa765f 0%,#e15d46 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa765f', endColorstr='#e15d46',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 179, 166, 1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 179, 166, 1);
	box-shadow: inset 0px 1px 0px 0px rgba(255, 179, 166, 1); 
	border-color: #fc7f6b #fc7f6b #d0432f;
	color:#b13e2d;
	text-shadow:0px 1px 0px #ffb3a5;
}

button.action:hover {
	background:#fa765f;
}

button.action:focus, 
button.action:active {
	background:#e15d46;
}
.ReadMail
{
	clear:both;
	margin-bottom:10px;
	margin-left:10px;
	line-height:24px;
	font-size:15px;
	border-bottom: 1px dotted #CCCCCC;
    color: #333333;
    margin-top: 10px;
    padding-bottom: 10px;
}
.ReadMailProperties
{
	clear:both;
	margin-bottom:5px;
	color:#999999;
}
.ReadMailProperties strong
{
	color:#CC3300;
	font-weight:normal;
}
.ReadMailProperties ul
{
	list-style:none;
	float:right;
}
.ReadMailProperties li
{
	float:left;
	margin-right:10px;
}
.ReadMailProperties li a
{
	display:block;
}
.ReadMailProperties li a img
{
	border:0;
	padding-top:2px;
}
.MailLeft .searchBox{
	background:#777;
	width:245px;
	height:200px;
	display:block;
	margin-top:15px;
}
.MailLeft li{
	color:#000;
	line-height:30px;
	display:block;
}

#adddress_add{
	background-position:0px -27px;
	margin-right:-8px;
}
.address_icon{
	float:right;
	width:25px;
	height:30px;
	background:url(../images/add_edit_delete_address_book.png) right no-repeat;
	cursor:pointer;
}
#edit_address_user{
	background-position:0px 0px;	
}

#delete_address_user{
	background-position:0px -57px;
	margin-right:2px;
}
.MailLeft li#inboxLi > a{
	background:url(../images/email_side_menu.png) left no-repeat;
	background-position: 0px -24px;
}

.MailLeft li#sentLi > a{
	background:url(../images/email_side_menu.png) left no-repeat;
	background-position: 0px -54px;
}

.MailLeft li#draftLi > a{
	background:url(../images/email_side_menu.png) left no-repeat;
	background-position: 0px 4px;
}

.MailLeft li#trashLi > a{
	background:url(../images/email_side_menu.png) left no-repeat;
	background-position: 0px -84px;
}

.MailLeft li.subFolderLi a{
	background:url(../images/email_side_menu.png) left no-repeat;
	background-position: 0px -114px;
}
a.sideMenu
{
    color: #333333 !important;    
    width: 154px;
    border: 1px solid #435d01;
    border-radius: 4px;
    background: #98d207;
    background: -moz-linear-gradient(top, #98d207 0%, #5c8904 100%);
    background: -webkit-linear-gradient(top, #98d207 0%,#5c8904 100%);
    background: linear-gradient(to bottom, #f3f4f8 0%,#c0c0c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98d207', endColorstr='#5c8904',GradientType=0 );
    -webkit-box-shadow: 0px 1px 0px 0px rgb(172, 172, 172), inset 1px 1px 1px 0px #D7D7D7;
    -moz-box-shadow: 0px 1px 0px 0px rgb(172, 172, 172), inset 1px 1px 1px 0px #D7D7D7;
    box-shadow: 0px 1px 0px 0px rgb(172, 172, 172), inset 1px 1px 1px 0px #D7D7D7;
    margin: 0 auto;
    padding: 0px 15px!important;
}