@charset "utf-8";
body {
	margin:0px;
	background-color: #0378b5;
}
#top {
	height: 155px;
	width: 100%;
	background-image: url(images/header_bg.gif);
	background-repeat: repeat-x;
}
.header_container {
	width:980px;
	height:99px;
	margin:0 auto;
}
.logo {
	width:auto;
	height:auto;
	float:left;
}
#middle {
	float:left;
	background-color: #0378b5;
	background-image: url(images/content_container.gif);
	background-repeat: repeat-x;
	height: auto;
	width: 100%;
}
.content_container {
	width:980px;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.login_hd {
	float:left;
	width:980px;
	height:auto;
	margin:45px 0 45px 0;
	text-align: center;
}
.box {
	float:left;
	width:380px;
	height:232px;
	background-image:url(images/developer_login.png);
	background-repeat: no-repeat;
	margin-bottom: 45px;
}
#bottom {
	float: left;
	width: 100%;
	height: 44px;
	background-image: url(images/footer.gif);
	background-repeat: repeat-x;
}
.footer {
	width:980px;
	margin:0 auto;
	height:44px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10pt;
	color:#FFFFFF;
	line-height:3.2em;
	text-align:center;
	text-shadow:#333333 1px 1px 0px;
}
.content_left {
	float:left;
	width:470px;
	height:auto;
	margin-top: 80px;
}
.content_center {
	width:470px;
	height:auto;
	margin: 80px auto;
}
.content_hd {
	float:left;
	width:510px;
	height:76px;
	background-image: url(images/dev_hd.png);
	background-repeat: no-repeat;
}
.signin_form {
	float:left;
	width:470px;
	height:auto;
	margin-top:30px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-shadow:#333333 1px 1px 0px;
}
.input_big {
	width:312px;
	height:33px;
	background-image:url(images/input_big.png);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:14px;
	border:none;
	background-color:transparent;
	background-repeat:no-repeat;
	padding:6px 20px 0 20px;
}
.submit_btn {
	width:113px;
	height:43px;
	border:none;
	background-image:url(images/login_btn.png);
	background-repeat:no-repeat;
	background-color:transparent;
	cursor:pointer;
}
.content_right {
	float:left;
	width:430px;
	height:auto;
	margin-top: 80px;
	margin-left: 80px;
}
.content_hd1 {
	float:left;
	width:100%;
	height:55px;
	text-shadow:#333333 1px 1px 0px;
	background-image: url(images/dev_signup_hd.png);
	background-repeat: no-repeat;
}
.signin_form1 {
	float:left;
	width:430px;
	height:auto;
	margin-top:85px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	text-shadow:#333333 1px 1px 0px
}
.input_small {
	width:252px;
	height:33px;
	background-image:url(images/input_smal.png);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:14px;
	border:none;
	background-color:transparent;
	background-repeat:no-repeat;
	padding:6px 20px 0 20px;
}
.signup_btn {
	width:111px;
	height:43px;
	border:none;
	background-image:url(images/signup_btn.png);
	background-repeat:no-repeat;
	background-color:transparent;
	cursor:pointer;
}
.select_box {
	background-color: #0987c8;
	background-image: url(images/input_smal.png);
	background-repeat: no-repeat;
	border: none;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 33px;
	padding: 6px 15px 5px;
	width: 292px;
}
.req {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#CC6600;
}
.nav {
	width:980px;
	height:49px;
	margin:auto;
}
.text_area {
	width:252px;
	height:105px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:14px;
	background-color: transparent;
	background-image: url(images/text_detail.png);
	background-repeat: no-repeat;
	border: none;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.browse {
	width:312px;
	height:25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#efefef;
	font-size:14px;
	border:none;
	background-color:#efefef;
	background-repeat:no-repeat;
}
.big_container {
	float:left;
	width:980px;
	height:auto;
	margin-top:50px;
}
.big_container table tr th {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#000000;
}
.big_container table tr td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
	font-size:13px;
}
.err {
	height:auto;
	width:300px;
	margin:0 auto;
	padding:5px;
	text-align:center;
	color:#CC0000;
	font-weight:bold;
	font-size:14px;
}
.add_new {
	float:right;
	width:75px;
	height:30px;
	margin-top:70px;
	background-image:url(images/add_new.png);
	background-repeat:no-repeat;
	padding-bottom:5px;
	cursor:pointer;
	background-repeat:no-repeat;
	background-color:transparent;
	border: none;
}
.logged_in {
	font-family:Arial, Helvetica, sans-serif;
	border:none;
	float:right;
	width:auto;
	margin-top:-40px;
	color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
	padding:10px;
}
.search_multiple {
	float:left; padding-bottom:25px;
}
.issue_img {
	opacity:0.7;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.issue_img:hover {
	opacity:1.0;
	filter:alpha(opacity=100); /* For IE8 and earlier */
}
.file {
	width:252px;
	height:25px;
	background-image:url(images/input_smal.png);
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	font-size:14px;
	border:1px solid #FFFFFF;
	background-color:#FFFFFF;
	background-repeat:no-repeat;
}
.login_box {
	float:left;
	width:300px;
	height:175px;
	margin-bottom: 45px;
	padding:13px;
}
.color_box {
	width:10px;
	height:10px; 
}
.a_accordion{
	text-shadow:none;
	font-weight:bold;
}