@charset "utf-8";
/* CSS Document */
img
{
	border:none;
}
.active_link
{
    display: block;
    height: 44px;
    background-color: #000000;
}

#nav
{
	/*width:950px;
	height:44px;
	margin:auto;
	margin-top:11px;
	clear:both;*/
	clear: both;
    height: 44px;
    margin: 10px auto 0;
    width: 80%;
}
#nav ul
{
	position: relative;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#nav ul li
{
	display:inline-block;
	float:left;
	font-family: 'CartoGothicStdBook';
	position: relative;
}
#nav ul li ul {
    display: none;
    background: #6d7673;
    background: -moz-linear-gradient(top, #6d7673 1%, #6d7673 100%);
    background: -webkit-linear-gradient(top, #6d7673 1%,#6d7673 100%);
    background: linear-gradient(to bottom, #414141 1%,#1b1b1b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d7673', endColorstr='#6d7673',GradientType=0 );
}

#nav ul li a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 9px 5px;
    border-left: #969696 solid 1px;
    cursor: pointer;
    line-height: 25px;
}



#nav ul li a:after { clear: both; }

#nav ul li a:hover {
    background-color: #000000;
}


#nav ul li a img {
	float: left;
	margin-right: 5px;
	height: 25px;
    width: 25px;
}
.welcome
{
	margin-top: 40px!important;
    width: 300px;
    text-align: right;
    color: #111!important;
	height:22px;
	float:right;
	font-weight:bold;
	padding-top:8px;
	font-size:16px;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

/* SUB MENUS
 * ************/
#nav li:hover ul.submenu {
    display: block;
    width: 195px;
    max-height: 450px;
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    transition: all 0.25s ease 0s;
    background-color: #015D9B;
    z-index: 9999;
    border: #969696 solid 1px;
}


#nav ul.submenu li {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 100%;	
}
#nav ul.submenu li a {
    border-left: 0px;
    border-left: 0;
    padding: 13px 10px;
    line-height: normal;
    height: initial;
}

#nav ul.submenu li a:hover {
    background-color: #000000;
}
#nav ul.submenu li a.child {
	background-image: url('../images/right_arrow.png');
	background-repeat: no-repeat;
    background-position: 100% 50%;
}

/*	SUB CHILD MENU
 * *********************/
#nav li.has_child:hover ul {
	display: block;
    position: absolute;
    left: 196px;
    width: 195px;
    top: 0;
}
#nav li.has_child:hover li:hover a,
#nav li.has_child:hover a {
	background-color: #3885d1;
}
#nav li.has_child:hover li a {
	background-color:#015D9B;
}
